@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<SelectListItem> listItems = new List<SelectListItem>{ 
        new SelectListItem { Text = "Api", Value = "Api" }, 
        new SelectListItem { Text = "Web App", Value = "Web" } 
    };
}
@model Identity.DTOs.RegisterAppDto
@using (Html.BeginForm("RegisterApp", "Account", FormMethod.Post))
{
    @*<div>
        @Html.LabelFor(m=>m.Type)
        @Html.DropDownListFor(m=>m.Type,listItems,"-- Select Type --",new {id="myDropdown"})
    </div>*@
    <div>
        @Html.LabelFor(m=>m.ApplicationName)
    @Html.TextBoxFor(m => m.ApplicationName)
    </div>
    <div>
        @Html.LabelFor(e=>e.Email)
    @Html.TextBoxFor(m => m.Email)
    </div>
    <div id="IncludePhotos">
        @Html.LabelFor(m=>m.CallbakUri)
        @Html.TextBoxFor(m => m.CallbakUri)
    </div>
    <div>
        @Html.LabelFor(e=>e.SelectedApis)
        <br />
        @foreach (ValueTuple<string, string> item in ViewBag.Scopes)
        {
            @item.Item1

            <input name="SelectedApis" type="checkbox" value="@item.Item2" />

            <br />
        }
    </div>
    <input type="submit" value="Submit" />
}
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(function () {
        $('#myDropdown').change(function () {
            var value = $(this).val();
            console.log(value)
            if (value != "Api") {
                $('#IncludePhotos').show();
            } else {
                $('#IncludePhotos').hide();
            }
        });
    });
</script>
