

<div class="col-8 row">

    @if (TodoDetailsDtos != null)
    {
        <div class="w-100">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>TODO ID</th>
                        <th>User ID</th>
                        <th>Title</th>
                        <th>Todo Status</th>
                        <th>Options</th>

                    </tr>
                </thead>
                <tbody>

                    @if (TodoDetailsDtos == null)
                    {
                        <tr><td><em>Loading...</em></td></tr>
                    }

                    @foreach (var t in TodoDetailsDtos)
                    {
                        <tr>
                            <td style="text-underline-position:below; cursor:pointer; color:blue" @onclick="@(() => OnClickViewDetails(t.TodoId))">@t.TodoId</td>
                            <td>@t.UserId</td>
                            <td>@t.TodoTitle</td>
                            <td>@t.TodoStatus</td>

                            <td>
                                <button type="button" class="btn btn-primary" @onclick="@(() => OnClickViewDetails(@t.TodoId))">View Details</button>
                                <button type="button" class="btn btn-danger btn-sm" @onclick="@(() => OpenDeleteDialog(@t.TodoId))">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>



<TemplatedDialog Show="DeleteTodoDialogOpen">
    <DeleteTodoDialog Title="Are you sure?" Text="Do you want to delete this Todo?" OnClose="@OnDeleteDialogClose"></DeleteTodoDialog>
</TemplatedDialog>