

<div class="col-8 row">

    @if (TodoDetailsDtos != null)
    {
        <Grid GridName="Todo Information" Items="TodoDetailsDtos">
            <Header>
                <th scope="col">TODO ID</th>
                <th scope="col">Title</th>
                <th scope="col">Todo Status</th>
                <th scope="col">Created Date Time</th>
                <th scope="col">Options</th>
            </Header>
            <Row>
                <td style="text-underline-position:below; cursor:pointer; color:blue" @onclick="@(() => OnClickViewDetails(context.TodoId))">@context.TodoId</td>
                <td>@context.TodoTitle</td>
                <td>@context.TodoStatus</td>
                <td>@context.CreatedDate</td>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="@(() => OnClickViewDetails(@context.TodoId))">View Details</button>
                    <button type="button" class="btn btn-danger btn-sm" @onclick="@(() => OpenDeleteDialog(@context.TodoId))">Delete</button>
                </td>
            </Row>
        </Grid>
    }
</div>



<TemplatedDialog Show="DeleteTodoDialogOpen">
    <DeleteTodoDialog Title="Are you sure?" Text="Do you want to delete this Todo?" OnClose="@OnDeleteDialogClose"></DeleteTodoDialog>
</TemplatedDialog>