<div class="card bg-light mt-3" style="width:25rem;">
    <div class="card-header">
        Sub Todo Item:@TodoItem.Id
    </div>
    <div class="card-body">
        <h3 class="card-title">@TodoItem.Title </h3>
        <p class="card-text">
            <code>@TodoItem.Description</code>:
        </p>
        <p>
            <select @onchange="StatusSelected" value = "@TodoItem.TodoStatus" >
                @{
                    foreach (var status in TodoStatus.List())
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
        </p>
        <button class="btn btn-primary" @onclick="() => OpenUpdateTodoItemDialog(TodoItem)">Update</button>
        <button class="btn btn-danger" @onclick="() => DeleteTodoSubItem(ParentTodo.TodoId, TodoItem.Id)">Remove</button>
    </div>
</div>


@if (UpdateTodoItemDialogOpen)
{
    <TodoItemDialog Title="Update TodoItem" Text="@TodoItem.Id" ParentTodoId="@ParentTodo.TodoId" SelectedTodoItem="@TodoItem" OnClose="@OnUpdateTodoItemDialogClose" TodoItemDialogType=TodoItemDialog.DialogType.Update></TodoItemDialog>
}
