<div class="col-8 row">
    @if (Todo.SubTodos != null)
    {
        @foreach (var subtodo in Todo.SubTodos)
        {
            <div class="card bg-light mt-3" style="width:25rem;">
                <div class="card-header">
                    Sub Todo Item:@subtodo.Id
                </div>
                <div class="card-body">
                    <h3 class="card-title">@subtodo.Title </h3>
                    <p class="card-text">
                        <code>@subtodo.Description</code>:
                    </p>
                    <p>
                        <select @onchange="StatusSelected">
                            @{
                                <option>@subtodo.TodoStatus</option>
                                foreach (var status in TodoStatus.List())
                                {
                                    <option value="@status">@status</option>
                                }
                            }
                        </select>
                    </p>
                    <button class="btn btn-primary" @onclick="() => OpenUpdateTodoItemDialog(Todo, subtodo)">Update</button>
                    <button class="btn btn-danger" @onclick="() => DeleteTodoSubItem(Todo.TodoId, subtodo.Id)">Remove</button>
                    <EditTodoItemButton IsActive=true SelectedTodo ="@Todo" TodoItem ="@subtodo"></EditTodoItemButton>
                </div>
            </div>
        }
    }
</div>

@if (UpdateTodoItemDialogOpen)
{
    <TodoItemDialog Title="Update TodoItem" Text="@SelectTodoItem.Id" ParentTodo="@Todo" SelectedTodoItem="@SelectTodoItem" OnClose="@OnUpdateTodoItemDialogClose" TodoItemDialogType=TodoItemDialog.DialogType.Update></TodoItemDialog>
}

