@inject NavigationManager Navigation
<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
        <NotAuthorized>
                <a href="localhost:7281/Identity/Account/Login">Log in</a>
                @{
                    var returnUrl = Navigation.ToBaseRelativePath(Navigation.Uri);
                    Navigation.NavigateTo($"login?redirectUri={returnUrl}", forceLoad: true);
                }
                </NotAuthorized>
                <Authorizing>
                     Loading...
                 </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>
