@page "/signin"
@inherits SignInBase
<form class="sign-form">
    <p class="welcome-text">Hello @(string.IsNullOrEmpty(User.UserName) ? "User" : User.UserName) - Today is @Day!</p>

    <EditForm EditContext="@EditContext" OnSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <div class="sign-validation">
            <ValidationInput 
                             placeholder="Username"
                             @bind-Value="@User.UserName"
                             Error="@GetError(() => User.UserName)"></ValidationInput >
        </div>
        <div class="sign-validation">
            <ValidationInput 
                             type="password"
                             placeholder="Password"
                             @bind-Value="@User.Password"
                             Error="@GetError(() => User.Password)"></ValidationInput>
        </div>
        <button class="sign-button btn btn-primary" type="submit">Sign In</button>

    </EditForm>

    <div class="signup">
        @*<a href="@(User.UserName != null ? "/signup?username=" + User.UserName : "/signup")">Sign Up</a>*@
        <a href="@(User.UserName != null ? "/signup/username=" + User.UserName : "/signup")">Sign Up</a>
    </div>
</form>

