@page "/todo"
@inherits TodoBase
@using HP.Application.DTOs
@using HP.Application.Queries.Todos
@inject MediatR.IMediator _mediator

<h3>Display All Todos</h3>
<div class="container">
    <h3 class="p-2 text-left">BasicInfo Todos</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>TODO ID</th>
                <th>User ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Todos)
            {
                <tr>
                    <td>@t.TodoId</td>
                    <td>@t.UserId</td>
                    <td>@t.TodoTitle</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<h3>Create new Todo</h3>

<div class="todo-form">
    <EditForm EditContext="@EditContext" OnSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <InputText class="form-control mx-2" @bind-Value="CreateTodoModel.UserId"/>
        <InputText class="form-control mx-2" @bind-Value="CreateTodoModel.Title"/>
        <InputText class="form-control mx-2" @bind-Value="CreateTodoModel.Description"/>
        <Dropdown
                TValue="TodoType"
                @bind-SelectedItem="@SelectedTodoTypeDropDownItem"
                SelectableItems="@TodoTypeEnums">
            
            
            </Dropdown>
        <button class="sign-button btn btn-primary" type="submit">Add ToDo</button>
    </EditForm>
</div>







@*https://www.youtube.com/watch?v=Sp2XYGqNeD8
practice this one tomorrow
https://github.com/hyunbin7303/ThreadMaintain
https://www.roundthecode.com/dotnet/blazor/how-to-use-button-onclick-event-blazor-webassembly
*@