@page "/todos/details/{TodoId}"
@inject IJSRuntime JS

<div class="w-100">
    <h4 class="col-8 row" style="font-weight:bold">USER, @SelectedTodo.UserId</h4>


    <EditForm Model="@SelectedTodo">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <div style="margin-bottom: 0.5rem;">
                <label>Todo Title: </label>
                <InputText style="font-weight:bold" type="text" @bind-Value="SelectedTodo.TodoTitle" />
            </div>
        </div>
        <h3>Todo(@SelectedTodo.TodoId) Details</h3>
        <div class="form-group" style="margin-bottom: 1rem;">
            <label>Todo Status: </label>
            <select @onchange="StatusSelected">
                @{
                    <option>@SelectedTodo.TodoStatus</option>
                    foreach (var status in TodoStatus.List())
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
        </div>
        <button type="button" class="btn btn-danger btn-sm" @onclick="()=> OpenDeleteDialog()">Delete</button>
        <hr />
        <div class="col-8 row">
            <div style="margin-bottom: 0.5rem;">
                <label>Todo Type: </label>
                <InputSelect @bind-Value="SelectedTodo.TodoType" >
                    @{
                        foreach (var type in TodoType.List())
                        {
                            <option value="@type">@type</option>
                        }
                    }
                </InputSelect>
            </div>
            <label>Todo Created Datetime : @SelectedTodo.CreatedDateTime</label>
            <label>Target StartDatetime</label>
            <InputDate class="form-control" id="dateInput" @bind-Value="SelectedTodo.TargetStartDate"></InputDate>
            <InputDate class="form-control" id="dateInput" @bind-Value="SelectedTodo.TargetEndDate"></InputDate>
            <div class="col-8 row" style="margin-bottom: 2rem;">
                <label>Description</label>
                <InputTextArea @bind-Value="SelectedTodo.Description" />
            </div>
        </div>
        <button class="btn btn-success ml-1" type="submit" @onclick="()=> SaveTodoChanges()">Save Changes</button>
    </EditForm>

    <div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <h4>Sub Items</h4>
        <button type="button" class="btn btn-primary" @onclick="() => OpenAddTodoItemDialog(SelectedTodo)">Create SubTodo</button>
        @if (SelectedTodo.SubTodos != null)
        {
            <TodoItemElement Todo="@SelectedTodo"></TodoItemElement>
        }
        <p>&nbsp;&nbsp;</p>
    </div>
</div>


<TemplatedDialog Show="DeleteTodoDialogOpen">
    <DeleteTodoDialog Title="Are you sure?" Text="Do you want to delete this entry?" OnClose="@OnDeleteDialogClose"></DeleteTodoDialog>
</TemplatedDialog>

<TemplatedDialog Show="AddTodoItemDialogOpen">
    <TodoItemDialog Title="Adding new todo Item" Text="Create new SubTodo Item" ParentTodo="@SelectedTodo" OnClose="@OnAddTodoItemDialogClose"></TodoItemDialog>
</TemplatedDialog>