@page "/todos/details/{TodoId}"
@inject IJSRuntime JS

<div class="w-100">
    <h4 class="col-8 row" style="font-weight:bold">USER, @Todo.UserId</h4>
    <h3>Todo(@Todo.TodoId) Details</h3>
    <div style="margin-bottom: 1rem;">
        <label>Todo Status: </label>
        <select @onchange="StatusSelected">
            @{
                <option>@Todo.TodoStatus</option>
                foreach (var status in TodoStatus.List())
                {
                    <option value="@status">@status</option>
                }
            }
        </select>
    </div>
    <button type="button" class="btn btn-danger btn-sm" @onclick="()=> OpenDeleteDialog()">Delete</button>
    <hr />
    <div class="col-8 row">
        <div style="margin-bottom: 0.5rem;">
            <label>Todo Title: </label>
            <input style="font-weight:bold" type="text" value="@Todo.TodoTitle" @onchange="OnSelectTitleChanged" />
        </div>
        <div style="margin-bottom: 0.5rem;">
            <label>Todo Type: </label>
            <select class="todo-select" @onchange="TypeSelected">
                @{
                    foreach (var type in TodoType.List())
                    {
                        <option value="@type">@type</option>
                    }
                }
            </select>
        </div>
        <div class="col-8 row" style="margin-bottom: 2rem;">
            <label>Description</label>
            <textarea @onchange="OnSelectDescChanged">@Todo.Description</textarea>
        </div>
        <button class="btn btn-success ml-1; col-8 row" type="button" @onclick="()=> SaveTodoChanges()">Save Changes</button>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>


        <h4>Sub Items</h4>
        <button type="button" class="btn btn-primary col-8 row" @onclick="() => OpenAddTodoItemDialog(Todo)">Create SubTodo</button>
        @if (Todo.SubTodos != null)
        {
            <TodoItemElement Todo="@Todo"></TodoItemElement>
        }
        <p>&nbsp;&nbsp;</p>
    </div>
</div>


@if (DeleteTodoDialogOpen)
{
    <DeleteTodoDialog Title="Are you sure?" Text="Do you want to delete this entry?" OnClose="@OnDeleteDialogClose"></DeleteTodoDialog>
}
@if (AddTodoItemDialogOpen)
{
    <TodoItemDialog Title="Adding new todo Item" Text="Create new SubTodo Item" ParentTodo="@Todo" OnClose="@OnAddTodoItemDialogClose"></TodoItemDialog>
}

@*
<HP.GeneralUI.Dialog.TemplatedDialog Show="TodoState.ShowingConfigureDialog">
</HP.GeneralUI.Dialog.TemplatedDialog>*@

