@page "/todos"
@inherits TodoBase
@using HP.Application.DTOs
@using HP.Application.Queries.Todos
@inject MediatR.IMediator _mediator

<h3>Display All Todos</h3>
<div class="container">
    <h3 class="p-2 text-left">BasicInfo Todos</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>TODO ID</th>
                <th>User ID</th>
                <th>Title</th>
                <th>Button click</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var t in Todos)
            {
                <tr>
                    <td>@t.TodoId</td>
                    <td>@t.UserId</td>
                    <td>@t.TodoTitle</td>
                    <td>
                        <button @onclick="@OnClickViewDetails">View Details</button>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="todocreate">
        <button class="sign-button btn btn-primary" @onclick="@OnClickGoToCreateTodo">Create new Todo</button>
    </div>

    <button class="btn btn-primary" @onclick="OnClickPassValue">Pass Value</button>

</div>

@*<div>
    @foreach(TodoBasicInfoDto t in Todos)
    {
        <TodoElement TodoBasicInfoDto="t"></TodoElement>
    }
</div>*@

