@page "/todos/details/{TodoId}"
@inject IJSRuntime JS

<div class="w-100">
    <h4 class="col-8 row" style="font-weight:bold">USER, @_todoService.Todo.UserId</h4>


    <EditForm Model="@_todoService.Todo">
        <DataAnnotationsValidator />
        <div class="form-group">
            <div style="margin-bottom: 0.5rem;">
                <label>Todo Title: </label>
                <InputText style="font-weight:bold" type="text" @bind-Value="_todoService.Todo.TodoTitle" />
            </div>
        </div>
        <h3>Todo(@_todoService.Todo.TodoId) Details</h3>
        <div class="form-group" style="margin-bottom: 1rem;">
            <label>Todo Status: </label>
            <InputSelect ValueChanged="@((string value) => StatusSelected(value))" Value="@_todoService.Todo.TodoStatus" ValueExpression="@(()=>_todoService.Todo.TodoStatus)">
                @{
                    foreach (var status in TodoStatus.List())
                    {
                        <option value="@status">@status</option>
                    }
                }
            </InputSelect>
        </div>
        <button type="button" class="btn btn-danger btn-sm" @onclick="()=> OpenDeleteDialog()">Delete</button>
        <hr />
        <div class="col-8 row">
            <div style="margin-bottom: 0.5rem;">
                <label>Todo Type: </label>
                <InputSelect @bind-Value="_todoService.Todo.TodoType">
                    @{
                        foreach (var type in TodoType.List())
                        {
                            <option value="@type">@type</option>
                        }
                    }
                </InputSelect>
            </div>
            <label>Todo Created Datetime : @_todoService.Todo.CreatedDate</label>
            <label>Target StartDatetime</label>
            <InputDate class="form-control" id="dateInput" @bind-Value="_todoService.Todo.TargetStartDate"></InputDate>
            <InputDate class="form-control" id="dateInput" @bind-Value="_todoService.Todo.TargetEndDate"></InputDate>
            <div class="col-8 row" style="margin-bottom: 2rem;">
                <label>Description</label>
                <InputTextArea @bind-Value="_todoService.Todo.Description" />
            </div>
        </div>
        <button class="btn btn-success ml-1" type="submit" @onclick="()=> SaveTodoChanges()">Save Changes</button>
    </EditForm>

    <CascadingValue Value="@_todoService.Todo" Name="ParentTodoDto">
        <div>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <h4>Sub Items</h4>
            <button type="button" class="btn btn-primary" @onclick="() => OpenAddTodoItemDialog(_todoService.Todo)">Create SubTodo</button>
            @if (_todoService.Todo.SubTodos != null)
            {
                <DisplayTodoItemList ></DisplayTodoItemList>
            }
            <p>&nbsp;&nbsp;</p>
        </div>

        <hr />
        <div>
            @if (_todoService.Todo.SubTodos != null)
            {
                <TemplatedCollapsible Title="Completed Task" ActionText="Display Completed Task" UrlString="@("/todos/details/" + _todoService.Todo.TodoId)">
                    <CompletedTodoItemList ParentTodoId="@_todoService.Todo.TodoId"></CompletedTodoItemList>
                </TemplatedCollapsible>
            }
        </div>
    </CascadingValue>
</div>


<TemplatedDialog Show="DeleteTodoDialogOpen">
    <DeleteTodoDialog Title="Are you sure?" Text="Do you want to delete this entry?" OnClose="@OnDeleteDialogClose"></DeleteTodoDialog>
</TemplatedDialog>

<TemplatedDialog Show="AddTodoItemDialogOpen">
    <TodoItemDialog Title="Adding new todo Item" Text="Create new SubTodo Item" ParentTodoId="@_todoService.Todo.TodoId" OnClose="@OnAddTodoItemDialogClose"></TodoItemDialog>
</TemplatedDialog>